:root {
  --aj-primary-color: #573db8;
  --aj-primary-color-2: #8fd45f;
  --aj-secondary-color: #ffb34e;
  --aj-white-color: #fff;
  --aj-white-color-2: #ffffff;
  --aj-heading-color: #07000e;
  --aj-body-color: #716f73;
}
