@use '../../utils/' as *;

/*----------------------------------------*/
/*   Footer */
/*----------------------------------------*/

.aj-footer {
  &-container {
    max-width: 1560px;
    padding: 80px 135px 30px;
    background-color: var(--aj-white-color);
    border-radius: 40px;
    @media #{$lg,$md,$xs} {
      padding: 30px;
    }
    @media #{$lg} {
      max-width: 960px;
    }
    @media #{$md} {
      max-width: 720px;
    }
    @media #{$xs} {
      max-width: 575px;
    }
  }
  &-line {
    border-bottom: 1px solid #202020a8;
    margin: 40px 0;
    opacity: 0.2;
    &-3 {
      margin-top: 20px;
    }
  }
  &-btn {
    &__link {
      width: 160px;
      height: 160px;
      background: var(--aj-primary-color);
      text-align: center;
      line-height: 150px;
      border-radius: 50%;
      color: var(--aj-white-color);
      letter-spacing: -0.25px;
      font-size: 18px;
      font-family: var(--aj-font-heading);
      font-weight: 700;
      &:hover {
        color: var(--aj-white-color);
      }
      @media #{$xs} {
        width: 100px;
        height: 100px;
        line-height: 98px;
        font-size: 15px;
      }
    }
  }
  &-input {
    margin-bottom: 50px;
    & input {
      background-color: #2e3137;
      padding: 11px 30px;
      border-radius: 99px;
      border-bottom: none;
      color: #fff;
      font-size: 18px;
      font-family: var(--aj-font-heading);
      font-weight: 500;
      &::placeholder {
        color: #fff;
        font-size: 18px;
        font-family: var(--aj-font-heading);
        font-weight: 500;
      }
    }
    & button {
      right: 0;
      & i {
        padding: 19px 30px;
        color: #fff;
        background-color: var(--aj-primary-color);
        border-radius: 0 99px 99px 0;
      }
    }
  }
  &-social {
    & li {
      display: inline-block;
      margin-right: 17px;
      & i {
        width: 37px;
        height: 36px;
        line-height: 35px;
        text-align: center;
        border-radius: 50%;
        border: 1px solid var(--aj-primary-color);
        color: var(--aj-white-color);
        transition: 0.3s;
        cursor: pointer;
        &:hover {
          background-color: var(--aj-primary-color);
        }
      }
    }
    &-2 {
      & li {
        & i {
          background-color: var(--aj-white-color);
          color: var(--aj-heading-color);
          border: none;
          &:hover {
            color: var(--aj-primary-color);
            background-color: var(--aj-white-color);
          }
        }
      }
    }
    &-3 {
      @media #{$md,$xs} {
        display: flex;
      }
      & li {
        @media #{$lg} {
          margin-right: 10px;
        }
        & i {
          color: var(--aj-primary-color);
          background-color: #f7f1fc;
          border: none;
          &:hover {
            color: #f1f1f1;
          }
        }
      }
    }
  }
  &-bottom {
    &-left {
      & p {
        color: #fff;
        margin-bottom: 0;
        @media #{$lg} {
          font-size: 17px;
        }
        @media #{$md,$xs} {
          font-size: 15px;
        }
      }
      &-2 {
        & p {
          color: var(--aj-heading-color);
        }
      }
    }
  }
  &-menu {
    & li {
      display: inline-block;
      margin-left: 30px;
      @media #{$md } {
        margin-left: 5px;
      }
      @media #{$xs} {
        margin-left: 0;
      }
      & a {
        color: #fff;
        font-size: 18px;
        font-family: var(--aj-font-heading);
        font-weight: 500;
        transition: 0.3s;
        &:hover {
          color: var(--aj-primary-color);
        }
        @media #{$lg} {
          font-size: 17px;
        }
        @media #{$md,$xs} {
          font-size: 15px;
        }
      }
    }
    &-2 {
      & li {
        & a {
          color: var(--aj-heading-color);
        }
      }
    }
    &-3 {
      & li {
        @media #{$lg} {
          margin-left: 26px;
        }
        @media #{$md} {
          margin-left: 0px;
        }
      }
    }
  }
  &-service {
    margin-left: 100px;
    @media #{$md,$xs} {
      margin-left: 0;
    }
    &__title {
      color: var(--aj-white-color);
      font-size: 24px;
      font-family: var(--aj-font-heading);
      font-weight: 700;
      line-height: 34px;
      letter-spacing: -0.25px;
    }
    & ul {
      margin-top: 30px;
      & li {
        margin-bottom: 15px;
        & a {
          font-size: 17px;
          color: #fff;
          transition: 0.3s;
          &:hover {
            color: var(--aj-primary-color);
          }
        }
      }
    }
  }
  &-info {
    &__title {
      color: var(--aj-white-color);
      font-size: 24px;
      font-family: var(--aj-font-heading);
      font-weight: 700;
      line-height: 34px;
      letter-spacing: -0.25px;
      margin-bottom: 30px;
    }
    &__item {
      margin-bottom: 20px;
      & span {
        font-size: 18px;
        font-family: var(--aj-font-heading);
        font-weight: 500;
        line-height: 28px;
      }
      & h4 {
        margin-top: 10px;
        color: #fff;
        font-size: 18px;
        font-family: var(--aj-font-heading);
        font-weight: 700;
        line-height: 27px;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          color: var(--aj-primary-color);
        }
        @media #{$lg} {
          font-size: 17px;
        }
      }
    }
  }
  &-right {
    &__menu {
      display: flex;
      & li {
        margin-right: 25px;
        & a {
          color: var(--aj-heading-color);
          transition: 0.3s;
          & i {
            font-size: 10px;
          }
          &:hover {
            color: var(--aj-primary-color);
          }
        }
      }
      @media #{$xs} {
        text-align: center;
        & li {
          margin-right: 15px;
          & a {
            font-size: 12px;
            & i {
              display: none;
            }
          }
        }
      }
      &-3 {
        & li {
          @media #{$lg} {
            margin-right: 18px;
          }
          @media #{$xs} {
            margin-right: 7px;
          }
          & a {
            font-size: 18px;
            font-family: var(--aj-font-heading);
            font-weight: 700;
            line-height: 20px;
            @media #{$lg} {
              font-size: 16px;
            }
            @media #{$xs} {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
  &-shape {
    width: 340px;
    height: 340px;
    border-radius: 100%;
  }
  &-subheading {
    color: var(--aj-heading-color);
    font-size: 24px;
    font-family: var(--aj-font-heading);
    font-weight: 700;
    letter-spacing: 0.25px;
    @media #{$xs} {
      font-size: 18px;
    }
  }
  &-heading {
    font-size: 72px;
    font-family: var(--aj-font-heading);
    font-weight: 700;
    letter-spacing: -2px;
    @media #{$lg,$md} {
      font-size: 50px;
    }
    @media #{$md} {
      font-size: 35px;
    }
    @media #{$xs} {
      font-size: 24px;
    }
  }
  &-middle {
    text-align: center;
    padding: 80px 0;
    @media #{$xs} {
      padding: 30px 0;
    }
    &__form {
      & input {
        color: var(--aj-heading-color);
        font-family: var(--aj-font-heading);
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 28.01px;
        border: 1px solid #ececec;
        padding: 10px 30px;
        border-radius: 999px;
        width: 33%;
        @media #{$md} {
          width: 50%;
        }
        @media #{$xs} {
          font-size: 15px;
          width: 75%;
        }
        &:focus {
          outline: none;
          border: 1px solid #ececec;
        }
        &::placeholder {
          color: var(--aj-heading-color);
          font-family: var(--aj-font-heading);
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: 28.01px;
          @media #{$xs} {
            font-size: 15px;
          }
        }
      }
      & button {
        padding: 14px 22px;
        background: var(--aj-primary-color);
        border-radius: 100%;
        color: var(--aj-white-color);
        margin-left: -4px;
        border: 1px solid transparent;
        transition: 0.3s;
        &:hover {
          background-color: #fff;
          color: var(--aj-primary-color);
          border-color: var(--aj-primary-color);
        }
      }
    }
  }
}
