@use '../utils/' as *;

.aj-accordion {
  &-wrapper {
    padding: 20px 0;
  }

  &-header {
    margin: 0;
  }
  &-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-family: var(--aj-font-heading);
    font-weight: 700;
    padding-bottom: 20px;
    color: #fff;
    text-align: start;
    @media #{$xs} {
      font-size: 14px;
    }
    &::after {
      content: '-';
      height: 40px;
      width: 40px;
      text-align: center;
      line-height: 40px;
      border-radius: 50%;
      color: #fff;
      background-color: #6851bf;
      @media #{$xs} {
        padding: 10px;
        line-height: 20px;
      }
    }
    &.collapsed {
      border-bottom: 1px solid #ffffff26;
      padding-left: 0;

      &::after {
        content: '+';
        height: 40px;
        width: 40px;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #fff;
        background-color: #6851bf;
        @media #{$xs} {
          padding: 10px;
          line-height: 20px;
        }
      }
    }
    & span {
      color: var(--aj-theme-color);
    }
    &.collapsed {
      & span {
        color: var(--aj-body-color);
        transform: rotate(-90deg);
      }
    }
    &-2 {
      color: var(--aj-heading-color);
      &::after {
        background-color: var(--aj-white-color);
        color: var(--aj-primary-color);
      }
      &.collapsed {
        border-bottom: 1px solid #07000e1a;
        &::after {
          background-color: var(--aj-white-color);
          color: var(--aj-heading-color);
        }
      }
    }
  }
  &-body {
    border-bottom: 1px solid #ffffff26;
    margin: 0;
    & p {
      color: #fff;
    }
    &-2 {
      border-color: var(--aj-primary-color);
      & p {
        color: var(--aj-heading-color);
      }
    }
  }
}
