@use '../utils/' as *;

/*----------------------------------------*/
/*   FAQ
/*----------------------------------------*/

.aj-faq {
  &-item {
    position: relative;
    &__images {
      & img {
        border-radius: 20px;
      }
    }
    &__content {
      position: absolute;
      top: 10%;
      height: auto;
      width: 740px;
      background: var(--aj-primary-color);
      padding: 60px;
      border-radius: 20px;
      @media #{$md} {
        position: static;
      }
      @media #{$xs} {
        position: static;
        width: 100%;
        padding: 10px;
      }
    }
  }
}
