@use '../utils/' as *;

/*----------------------------------------*/
/*   FAQ
/*----------------------------------------*/

.aj-faq {
  &-area {
    @media #{$xs} {
      padding: 50px 0;
    }
  }
  &-item {
    margin-top: 20px;
    position: relative;
    &__images {
      & img {
        border-radius: 20px;
      }
    }
    &__content {
      margin-top: 20px;
      position: absolute;
      top: 10%;
      height: auto;
      width: 740px;
      background: var(--aj-primary-color);
      padding: 60px;
      border-radius: 20px;
      @media #{$md} {
        position: static;
        width: 100%;
      }
      @media #{$xs} {
        position: static;
        width: 100%;
        padding: 10px;
      }
      &-2 {
        position: static;
      }
      &-3 {
        width: 100%;
        background-color: transparent;
      }
    }
    &__count {
      padding: 40px 25px;
      background-color: var(--aj-white-color);
      display: block;
      border-radius: 50%;
      text-align: center;
      bottom: 50px;
      left: -8px;
      @media #{$md} {
        left: 13px;
      }
      @media #{$lg,$xs} {
        left: 50%;
        transform: translateX(-50%);
      }
      &-no {
        /* Heading/H1 */
        font-family: var(--aj-font-heading);
        font-size: 72px;
        font-style: normal;
        font-weight: 700;
        line-height: 72px; /* 100% */
        letter-spacing: -2px;
      }
    }
  }
}
