@use '../utils/' as *;

/*----------------------------------------*/
/*   Section Title */
/*----------------------------------------*/

.aj-section-title {
  &__heading {
    font-size: 72px;
    color: var(--aj-heading-color);
    font-family: var(--aj-font-heading);
    font-weight: 700;
    line-height: 72px;
    letter-spacing: -2px;
    &-s {
      @media #{$lg} {
        font-size: 50px;
        margin-bottom: 15px;
      }
    }
    &-x {
      @media #{$xs} {
        font-size: 50px !important;
      }
    }
    @media #{$xs} {
      font-size: 60px;
      line-height: 55px;
    }
    &-2 {
      @media #{$xs} {
        font-size: 65px;
      }
    }
    &-3 {
      @media #{$md} {
        font-size: 60px;
      }
      @media #{$xs} {
        font-size: 48px;
        line-height: 55px;
      }
    }
    &-4 {
      @media #{$xs} {
        font-size: 40px;
        line-height: 55px;
        & br {
          display: none;
        }
      }
    }
  }
  &__subtitle {
    font-size: 18px;
    color: var(--aj-heading-color);
    font-family: var(--aj-font-heading);
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 4px;
    text-transform: uppercase;
  }
}
