@use '../../utils/' as *;

/*----------------------------------------*/
/*   About */
/*----------------------------------------*/

.aj-about {
  &-area {
    font-size: 72px;
    @media #{$md,$xs} {
      padding: 50px 0;
    }
  }
  &-title {
    font-size: 18px;
    font-family: var(--aj-font-heading);
    transition: 0.3s;
    &:hover {
      color: var(--aj-primary-color);
    }
  }
  &-items {
    background-color: #f7f1fc;
    padding: 20px 30px;
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
  }
  &-item {
    &__box {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
  &-img {
    @media #{$md,$xs} {
      margin-left: 0;
      text-align: center;
    }
    img {
      border-radius: 20px;
    }
  }
  &-wrrapper {
    & ul {
      & li {
        & i {
          margin-right: 15px;
        }
        color: var(--aj-heading-color);
        font-family: var(--aj-font-heading);
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 27px;
        @media #{$xs} {
          font-size: 15px;
        }
      }
    }
  }
  &-shape {
    position: relative;
    z-index: 1;
    &::before {
      position: absolute;
      content: '';
      top: 190px;
      left: 34px;
      width: 102%;
      height: 457px;
      background-color: var(--aj-white-color);
      border-radius: 20px;
      z-index: -1;
      @media #{$md,$xs} {
        display: none;
      }
    }
  }
}
