@use '../../utils/' as *;

/*----------------------------------------*/
/*   Bento */
/*----------------------------------------*/

.aj-bento {
  &-thumb {
    & img {
      border-radius: 20px;
      @media #{$md,$xs} {
        width: 100%;
      }
    }
  }
  &-content {
    padding: 40px;
    background-color: var(--aj-white-color);
    border-radius: 20px;
    border: 1px solid var(--aj-primary-color-2);
    @media #{$xs} {
      padding: 10px;
    }
  }
  &-info {
    display: flex;
    justify-content: space-between;
    @media #{$xs} {
      padding-top: 10px;
      margin-bottom: 10px;
    }
  }
  &-desc {
    @media #{$xs} {
      margin-bottom: 10px;
    }
    & p {
      font-size: 32px;
      font-family: var(--aj-font-heading);
      font-weight: 500;
      line-height: 44px;
      @media #{$xs} {
        font-size: 20px;
      }
    }
  }
  &-rq {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-rating {
    & i {
      color: #ffb34e;
      &:last-child {
        color: var(--aj-body-color);
        opacity: 0.2;
      }
    }
  }
  &-form {
    background-color: var(--aj-white-color);
    border-radius: 20px;
    padding: 60px 40px;
    @media #{$xs} {
      padding: 25px 10px;
    }
    &__select {
      & select {
        width: 100%;
        padding: 16px 30px;
        border: 1px solid #716f7330;
        border-radius: 20px;
        outline: none;
      }
    }
    &__btn {
      & button {
        width: 100%;
        color: var(--aj-heading-color);
        padding: 20px 30px;
        background-color: var(--aj-primary-color-2);
        border-radius: 100px;
        text-align: center;
        font-size: 18px;
        font-family: var(--aj-font-heading);
        font-weight: 700;
        line-height: 20px;
        letter-spacing: -0.25px;
      }
    }
    & label {
      font-size: 18px;
      font-family: var(--aj-font-heading);
      font-weight: 500;
      line-height: 20px;
      color: var(--aj-heading-color);
      margin-bottom: 10px;
    }
    & input {
      width: 100%;
      padding: 30px 16px;
      border: 1px solid #716f7330;
      border-radius: 20px;
      @media #{$xs} {
        padding: 20px 16px;
      }
    }
    & textarea {
      border: 1px solid #716f7330;
      border-radius: 20px;
      height: 149px;
      resize: none;
      padding: 30px 17px;
    }
  }
}
