@use '../../utils/' as *;

/*----------------------------------------*/
/*   Gallery */
/*----------------------------------------*/

.aj-gallery {
  &-area {
    @media #{$md,$xs} {
      padding: 50px 0;
    }
  }
  &-items {
    position: relative;
    & a {
      position: absolute;
      top: 20px;
      left: 20px;
      color: var(--aj-white-color);
      font-family: var(--aj-font-heading);
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      background-color: var(--aj-heading-color);
      border-radius: 10px;
      padding: 5px 20px;
      transition: 0.3s;
      &:hover {
        background-color: var(--aj-primary-color);
      }
    }
    & h3 {
      font-size: 24px;
      letter-spacing: -0.25px;
      transition: 0.3s;
      &:hover {
        color: var(--aj-primary-color);
      }
      @media #{$xs} {
        font-size: 20px;
      }
    }
    &:hover a {
      background-color: var(--aj-primary-color);
    }
    &-2 {
      position: relative;
      &:hover {
        & .aj-gallery-img-3 {
          & img {
            transform: scale(1.1);
          }
        }
        & .aj-gallery-content-2 {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }
    }
  }
  &-content {
    &-2 {
      position: absolute;
      left: 45px;
      bottom: 45px;
      transform: translateY(150%);
      opacity: 0;
      visibility: hidden;
      transition: 0.5s;
    }
    &__badge {
      font-size: 18px;
      font-family: var(--aj-font-heading);
      font-weight: 500;
      color: var(--aj-heading-color);
      background-color: var(--aj-primary-color-2);
      padding: 8px 20px;
      border-radius: 10px 10px 0 0;
    }
    &__title {
      background-color: var(--aj-white-color);
      line-height: 34.91px; /* 145.458% */
      letter-spacing: -0.25px;
      padding: 12px 50px 13px 20px;
      border-radius: 0 0 20px 20px;
      margin-top: 5px;
    }
  }
  &-img {
    & img {
      border-radius: 20px;
    }
    &-3 {
      overflow: hidden;
      border-radius: 20px;
      display: inline-block;
      & img {
        transition: 0.5s;
      }
    }
  }
  &-btn {
    &__x {
      font-family: var(--aj-font-heading);
      font-size: 18px;
      font-weight: 500;
      padding: 11px 30px;
      color: #716f73;
      border-radius: 100px;
      background: #ffffff;
      @media #{$md} {
        font-size: 15px;
        padding: 11px 26px;
      }
      @media #{$xs} {
        padding: 11px 23px;
        font-size: 13px;
      }
    }
  }
}
.gm {
  margin-right: 30px;
  @media #{$md} {
    margin-right: 15px;
  }
  @media #{$xs} {
    margin-right: 10px;
  }
}
