@use '../../utils/' as *;

/*----------------------------------------*/
/*   Hero */
/*----------------------------------------*/
.aj-hero {
  &-area {
    &-2 {
      @media #{$md,$xs} {
        padding-bottom: 35px;
      }
    }
  }
  &-social {
    top: 50%;
    transform: translateY(-50%);
    left: 120px;
    & li {
      padding-bottom: 70px;
      transition: 0.3s;
      & a {
        color: var(--aj-heading-color);
        transition: 0.3s;
        &:hover {
          color: var(--aj-primary-color);
        }
      }
    }
  }
  &-title {
    & span {
      font-weight: 700;
    }

    color: var(--aj-heading-color);
    text-align: center;
    font-family: var(--aj-font-heading);
    font-size: 90px;
    font-weight: 200;
    line-height: 1;
    @media #{$md,$xs} {
      margin-bottom: 30px;
    }
    @media #{$xs} {
      font-size: 46px;
      & br {
        display: none;
      }
    }
    &-2 {
      color: var(--aj-white-color);
      font-family: var(--aj-font-heading);
      font-weight: 700;
      font-size: 124.87px;
      line-height: 115.264px;
      letter-spacing: -1.42159px;
      text-transform: uppercase;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media #{$lg,$md} {
        font-size: 100px;
        & img {
          width: 30%;
        }
      }
      @media #{$md} {
        font-size: 80px;
        line-height: 1;
        & img {
          width: 25%;
        }
      }
      @media #{$xs} {
        font-size: 38px;
        line-height: 0.5;
        & img {
          width: 30%;
        }
      }
      @media (max-width: 320px) {
        width: 100%;
        font-size: 32px;
      }
    }
    &__wrapper {
      @media #{$xs} {
        margin-bottom: 30px;
      }
    }
  }

  &-video {
    & a {
      & img {
        border-radius: 20px;
      }
    }
  }
  &-x {
    & span {
      color: var(--aj-heading-color);
      font-weight: 700;
      font-size: 18px;
    }
  }
  &-counter {
    &__line {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 1px;
        border-radius: 50%;
        background-color: var(--aj-primary-color);
      }
    }
    &__item {
      display: flex;
      align-items: center;
      h3 {
        margin-right: 20px;
        font-family: var(--aj-font-heading);
        font-size: 73px;
        letter-spacing: -2.03908px;
      }
    }
  }
  &-btn {
    left: 38%;
    bottom: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: var(--aj-white-color);
    border: 1px solid var(--aj-primary-color);
    border-radius: 50%;
    text-align: center;
    padding: 20px 30px;
    @media #{$xs} {
      width: 100px;
      height: 100px;
      padding: 10px 20px;
      left: 50%;
      // transform: translateX(-50%);
    }
    & a {
      color: var(--aj-heading-color);
      font-family: var(--aj-font-heading);
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: -0.25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      @media #{$xs} {
        font-size: 12px;
        line-height: 15px;
      }
    }
    &-2 {
      background-color: var(--aj-primary-color);

      & a {
        color: var(--aj-white-color);
      }
    }
  }
  &-shape {
    &-1 {
      left: 9%;
      bottom: 0%;
    }
    &-2 {
      bottom: -5%;
      right: 0;
    }
  }
  &-reviews {
    display: flex;
    gap: 30px;
    @media #{$xs} {
      gap: 10px;
      margin-bottom: 20px;
    }
    &__line {
      width: 1px;
      height: 100px;
      background-color: var(--aj-white-color);
      opacity: 0.2;
      margin: 0 30px;
      @media #{$md} {
        margin: 0 10px;
      }
      @media #{$md,$xs} {
        margin: 0;
      }
    }
    &__cn {
      display: flex;
      align-items: start;
      margin-bottom: 15px;
      & i {
        font-size: 20px;
        color: var(--aj-primary-color-2);
        margin-right: 15px;
      }
      & img {
        margin-right: 15px;
      }
      & h5 {
        color: var(--aj-white-color);
        font-size: 18px;
        font-family: var(--aj-font-heading);
        font-weight: 700;
        line-height: 27px;
      }
    }
    &__star {
      & ul {
        display: flex;
        gap: 5px;
        & li {
          & i {
            font-size: 11px;
            color: #ffb34e;
          }
        }
      }
      & p {
        color: var(--aj-white-color);
        text-align: justify;
        font-size: 14px;
        font-family: var(--aj-font-heading);
        font-weight: 400;
        @media #{$md,$xs} {
          font-size: 12px;
        }
      }
    }
  }
}
