@use '../../utils/' as *;
/*----------------------------------------*/
/*   Join */
/*----------------------------------------*/

.aj-join {
  &-area {
    @media #{$xs} {
      padding-bottom: 80px;
    }
  }

  &-video {
    & img {
      border-radius: 20px;
    }
  }
  &-logo {
    padding: 50px 60px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background: var(--Gray-100, #f7f1fc);

    @media #{$xs} {
      padding: 20px;
    }
    &-2 {
      border: transparent;
      border-radius: 20px;
      background-color: var(--aj-white-color);
    }
    &-3 {
      position: relative;
      margin-bottom: -70px;
    }
  }
}
