@use '../../utils/' as *;
/*----------------------------------------*/
/*   Logo */
/*----------------------------------------*/

.aj-logo {
  &-area {
    background-image: url('/assets/images/x/x-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #07000e;
    opacity: 0.7;
  }
}
