@use '../../utils/' as *;

/*----------------------------------------*/
/*   Process */
/*----------------------------------------*/

.aj-process {
  &-item {
    border: 1px solid rgba(7, 0, 14, 0.2);
    border-top: none;
    border-left: none;
    padding: 0 40px 40px 0;

    @media #{$xs} {
      border: none;
      padding: 10px 15px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      margin-bottom: 20px;
    }
    &-2 {
      border-top: none;
      border-right: none;
      padding: 0 0 40px 40px;
      @media #{$xs} {
        padding: 10px 15px;
      }
    }
    &-3 {
      border-left: 1px solid rgba(7, 0, 14, 0.2);
      border-bottom: none;
      margin-left: -1px;
      margin-top: -1px;
      padding: 40px 40px 0 40px;
      @media #{$xs} {
        padding: 10px 15px;
      }
    }
    &-4 {
      border-top: 1px solid rgba(7, 0, 14, 0.2);
      border-right: none;
      border-bottom: none;
      margin-left: -1px;
      margin-top: -1px;
      padding: 40px 40px 0 40px;
      @media #{$xs} {
        padding: 10px 15px;
      }
    }

    &__number {
      font-feature-settings: 'liga' off, 'clig' off;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: var(--aj-body-color);
      font-family: var(--aj-font-heading);
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 34.91px;
      letter-spacing: -0.25px;
      @media #{$md} {
        font-size: 17px;
      }
      @media #{$xs} {
        font-size: 13px;
      }
    }
    &__head {
      display: flex;
      align-items: center;
    }
    &__title {
      font-family: var(--aj-font-heading);
      font-size: 24px;
      font-weight: 700;
      line-height: 34.91px;
      letter-spacing: -0.25px;
      @media #{$lg,$md} {
        font-size: 17px;
      }
      @media #{$xs} {
        font-size: 13px;
      }
    }
    &__content {
      & p {
        font-family: var(--aj-font-heading);
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 28.01px;
      }
    }
  }
}
