@use '../../utils/' as *;

/*----------------------------------------*/
/*   Process */
/*----------------------------------------*/

.aj-process {
  &-area {
    &-3 {
      padding-top: 190px;
      padding-bottom: 120px;
    }
  }
  &-item {
    border: 1px solid rgba(7, 0, 14, 0.2);
    border-top: none;
    border-left: none;
    padding: 0 40px 40px 0;

    @media #{$xs} {
      border: none;
      padding: 10px 15px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      margin-bottom: 20px;
    }
    &-2 {
      border-top: none;
      border-right: none;
      padding: 0 0 40px 40px;
      @media #{$xs} {
        padding: 10px 15px;
        border: none;
      }
    }
    &-3 {
      border-left: 1px solid rgba(7, 0, 14, 0.2);
      border-bottom: none;
      margin-left: -1px;
      margin-top: -1px;
      padding: 40px 40px 0 40px;
      @media #{$md} {
        border-left: none;
      }
      @media #{$xs} {
        padding: 10px 15px;
        border: none;
      }
    }
    &-4 {
      border-top: 1px solid rgba(7, 0, 14, 0.2);
      border-right: none;
      border-bottom: none;
      margin-left: -1px;
      margin-top: -1px;
      padding: 40px 40px 0 40px;
      @media #{$xs} {
        padding: 10px 15px;
        border: none;
      }
    }
    &-5 {
      border: none;
      padding: 10px;
    }
    &__box {
      display: flex;
      align-items: center;
      position: relative;
      &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 1px;
        height: 100%;
        background-color: var(--aj-white-color);
        opacity: 0.2;
        margin-left: -20px;
      }
    }

    &__number {
      font-feature-settings: 'liga' off, 'clig' off;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: var(--aj-body-color);
      font-family: var(--aj-font-heading);
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 34.91px;
      letter-spacing: -0.25px;
      @media #{$md,$xs} {
        font-size: 17px;
      }
      &-3 {
        color: var(--aj-heading-color);
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #ffffff;
        font-family: var(--aj-font-heading);
        font-size: 72px;
        font-style: normal;
        font-weight: 700;
        line-height: 72px;
        letter-spacing: -2px;
        transform: rotate(-90deg);
        margin-right: 20px;
      }
    }
    &__head {
      display: flex;
    }
    &__title {
      font-family: var(--aj-font-heading);
      font-size: 24px;
      font-weight: 700;
      line-height: 34.91px;
      letter-spacing: -0.25px;
      transition: 0.3s;
      &:hover {
        color: var(--aj-primary-color);
      }
      @media #{$lg,$md,$xs} {
        font-size: 17px;
      }
      &-3 {
        color: var(--aj-white-color);
      }
    }
    &__content {
      & p {
        font-family: var(--aj-font-heading);
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 28.01px;
      }
    }
    &__desc {
      color: var(--aj-white-color);
      margin-bottom: 0;
      @media #{$xs} {
        font-size: 15px;
      }
    }
  }
  &-btn {
    &__prev,
    &__next {
      width: 60px;
      height: 60px;
      border-radius: 100%;
      color: var(--aj-primary-color);
      background-color: #10071f;
      transition: 0.5s;
      &:hover {
        color: var(--aj-white-color);
        background-color: var(--aj-primary-color);
      }
    }
  }
}

// swiper

.swiper-slide.aj-process-slide.swiper-slide-active {
  margin-left: 11px;
}
