@use '../../utils/' as *;

/*----------------------------------------*/
/*   Services */
/*----------------------------------------*/
.aj-services {
  &-area {
    @media #{$md,$xs} {
      padding: 50px 0;
    }
  }
  &-images {
    & img {
      border-radius: 20px;
    }
  }
  &-item {
    padding: 40px 30px 45px 60px;
    border-radius: 20px;
    border: 1px solid rgba(7, 0, 14, 0.2);
    @media #{$md,$xs} {
      padding: 20px 10px 25px 40px;
    }
    &__text {
      padding: 30px;
    }
    &__thumb {
      & img {
        width: 100%;
        opacity: 0;
        transition: 0.3s ease;
      }
    }
    &__icon {
      width: 80px;
      height: 80px;
      background-color: var(--aj-white-color);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 20px;
      top: 50%;
      left: -40px;
      transform: translateY(-50%);
      @media #{$md} {
        width: 60px;
        height: 60px;
        left: -30px;
      }
      @media #{$xs} {
        & img {
          width: 25px;
        }
        width: 45px;
        height: 45px;
        left: 8px;
        top: 38px;
      }
    }
    &__title {
      font-family: var(--aj-font-heading);
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 35px;
      letter-spacing: -0.25px;
      transition: 0.3s;
      cursor: pointer;
      @media #{$xs} {
        font-size: 20px;
        margin-left: 25px;
      }
      &:hover {
        color: var(--aj-primary-color);
      }
      &-2 {
        margin-left: 0;
        @media #{$lg} {
          font-size: 17px;
        }
      }
    }
    & a {
      font-size: 18px;
      color: var(--aj-heading-color);
      font-family: var(--aj-font-heading);
      font-weight: 700;
      letter-spacing: -0.25px;
      transition: 0.3s;
      @media #{$lg} {
        font-size: 15px;
      }
      @media #{$xs} {
        font-size: 14px;
      }
      &:hover {
        color: var(--aj-primary-color);
      }
    }
    &-2 {
      padding: 30px;
      border-color: transparent;
      transition: 0.3s;
      &:hover {
        border-color: var(--aj-primary-color);
      }
      @media #{$xs} {
        padding: 10px;
      }
    }
    &-3 {
      padding: 0;
      border: 1px solid rgba(7, 0, 14, 0.2);
      &:hover {
        .aj-services-item__thumb {
          & img {
            opacity: 1;
          }
        }
      }
    }
  }
  &-content {
    background-color: #f7f1fc;
    border-radius: 20px;
    padding: 40px;
    position: absolute;
    top: 15%;
    left: 45%;
    right: 16%;
    @media #{$xxlm} {
      top: 15%;
      right: 8%;
    }
    @media #{$lg} {
      padding: 25px;
      position: absolute;
      top: 12%;
      left: 30%;
      right: 2%;
    }
    @media #{$md,$xs} {
      position: static;
      left: 0;
      right: 0;
    }
    @media #{$xs} {
      padding: 0;
    }
    & p {
      font-size: 18px;
      font-weight: 500;
    }
  }
  &-btn {
    &-3 {
      padding: 15px 0 30px 30px;
      display: block;
      &:hover {
        & img {
          filter: brightness(0) saturate(100%) invert(22%) sepia(18%)
            saturate(7169%) hue-rotate(238deg) brightness(105%) contrast(93%);
        }
      }
    }
  }
}
