@use '../../utils/' as *;

/*----------------------------------------*/
/*   Team */
/*----------------------------------------*/

.aj-team {
  &-area {
    @media #{$xs} {
      padding: 50px 0;
    }
  }
  &-title {
    color: #fff;
    font-family: var(--aj-font-heading);
    font-size: 24px;
    font-weight: 700;
    line-height: 34.91px;
    letter-spacing: -0.25px;
    margin: 0;
    @media #{$lg,$md,$xs} {
      font-size: 15px;
    }
  }

  &-member {
    position: relative;
    text-align: center;
    transition: 0.3s;
    &:hover .aj-team-social {
      opacity: 1;
      visibility: visible;
    }
  }

  &-img {
    position: relative;
    border-radius: 100%;
    overflow: hidden;
    border: 1px solid #c7c1cc;
    &::before {
      content: '';
      position: absolute;
      top: 70%;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--aj-primary-color);
      border-radius: 100%;
    }
    @media #{$lg,$md} {
      width: 300px;
      height: 300px;
    }
    @media #{$xs} {
      width: 100%;
      height: 100%;
    }
  }
  &-social {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    background-color: #fff;
    padding: 20px 12px;
    transition: opacity 0.3s, visibility 0.3s;
    opacity: 0;
    visibility: hidden;
    z-index: 99;
    & a {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: #fff;
      margin: 5px 0;
      color: var(--aj-heading-color);
      transition: 0.3s;
      &:hover {
        color: var(--aj-primary-color-2);
      }
    }
  }

  &-content {
    position: absolute;
    bottom: 9%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 10px;
    text-align: center;
    @media #{$lg,$md} {
      bottom: 5%;
    }
    @media #{$md} {
      left: 44%;
    }
  }

  &-icon {
    & i {
      height: 50px;
      width: 50px;
      background: #fff;
      line-height: 50px;
      border-radius: 50%;
      position: absolute;
      bottom: 105%;
      left: 44%;
      transition: 0.3s;
      cursor: pointer;
      &:hover {
        background-color: var(--aj-primary-color-2);
        color: var(--aj-heading-color);
      }
    }
    &:hover .aj-team-social {
      opacity: 1;
      visibility: visible;
      z-index: 1;
    }
  }
  &-item {
    @media #{$xs} {
      padding: 15px;
    }
    &__thumb {
      position: relative;
      background-color: var(--aj-white-color);
      text-align: center;
      border-radius: 20px;
      transition: 0.5s;
      &:hover .aj-team-item__social {
        bottom: 10%;
        opacity: 1;
        visibility: visible;
      }
    }
    &__icon {
      position: absolute;
      bottom: -25px;
      right: 40px;
      & i {
        width: 50px;
        height: 50px;
        border: 3px solid var(--aj-white-color);
        border-radius: 100%;
        padding: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f7f1fc;
        box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.05);
        cursor: pointer;
      }
    }
    &__social {
      position: absolute;
      right: 11%;
      bottom: 0;
      background-color: var(--aj-primary-color);
      padding: 23px 12px;
      display: flex;
      flex-direction: column;
      border-radius: 100px;
      gap: 11px;
      transition: 0.5s;
      opacity: 0;
      visibility: hidden;
      & a {
        color: var(--aj-white-color);
        transition: 0.3s;
        &:hover {
          color: var(--aj-primary-color-2);
        }
      }
    }
    &__name {
      & a {
        transition: 0.3s;
        &:hover {
          color: var(--aj-primary-color);
        }
      }
    }
  }
  &-card {
    border-radius: 20px;
    border: 1px solid rgba(7, 0, 14, 0.2);
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    &__info {
      display: flex;
      align-items: center;
    }
    &__name {
      font-size: 32px;
      line-height: 130%;
      text-transform: capitalize;
      margin-right: 60px;
      transition: 0.4s;
    }
    &__role {
      margin-bottom: 0;
      transition: 0.4s;
    }
    &__profile {
      position: relative;
      bottom: -10px;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.5s ease, visibility 0.5s ease;
    }
    &__icons {
      display: flex;
      align-items: center;
    }
    &__social {
      text-align: end;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.5s ease, visibility 0.5s ease;
      & ul {
        display: flex;
        justify-content: end;
        & li {
          margin-right: 20px;
          & a {
            width: 40px;
            height: 40px;
            color: var(--aj-white-color);
            background-color: #6850bf;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.3s;
          }
        }
      }
    }
    &__share-btn {
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 3px solid var(--aj-white-color);
      border-radius: 100%;
      padding: 8px;
      color: var(--aj-heading-color);
      background-color: #f7f1fc;
      box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.05);
      cursor: pointer;
      margin-left: 30px;
      transition: 0.4s;
    }

    // hover

    &:hover {
      background-color: var(--aj-primary-color);
      & .aj-team-card__name {
        color: var(--aj-white-color);
      }
      & .aj-team-card__role {
        color: var(--aj-white-color);
      }
      & .aj-team-card__share-btn {
        color: var(--aj-white-color);
        background-color: #6850bf;
        border-color: transparent;
      }
      & .aj-team-card__profile {
        opacity: 1;
        visibility: visible;
      }
      & .aj-team-card__social {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

// Team swiper pagination
.aj-team-pagination {
  text-align: center;
  & .swiper-pagination-bullet {
    width: 60px;
    height: 10px;
    border-radius: 99px;
    &-active {
      width: 110px;
      height: 10px;
      background-color: var(--aj-primary-color);
    }
  }
}
