@use '../../utils/' as *;

/*----------------------------------------*/
/*   Testimonials */
/*----------------------------------------*/
.aj-testimonials {
  &-area {
    @media #{$md,$xs} {
      padding: 50px 0;
    }
  }
  &-item {
    border: 1px solid var(--aj-primary-color-2);
    border-radius: 20px;
    padding: 40px;
    @media #{$md,$xs} {
      padding: 20px;
    }
    &__qoute {
      @media #{$md,$xs} {
        width: 40px;
        margin-bottom: 17px;
      }
    }
    &__info {
      &-name {
        font-family: var(--aj-font-heading);
        font-size: 24px;
        font-weight: 700;
        line-height: 34.91px;
        letter-spacing: -0.25px;
        @media #{$md,$xs} {
          font-size: 20px;
          line-height: 5px;
        }
      }
    }
    &__line {
      border-bottom: 1px solid #ececec;
    }
    &__thumb {
      @media #{$xs} {
        margin-right: 10px;
      }
      & img {
        border-radius: 50%;
      }
    }
    &__content {
      &-desc {
        font-size: 32px;
        font-family: var(--aj-font-heading);
        font-weight: 500;
        line-height: 44px;
        @media #{$md,$xs} {
          font-size: 20px;
          line-height: 30px;
        }
      }
      &-rating {
        & i {
          color: #ffb34e;
          &:last-child {
            color: var(--aj-body-color);
            opacity: 0.2;
          }
        }
      }
    }
  }
}
