@use '../../utils/' as *;
/*----------------------------------------*/
/*   Why */
/*----------------------------------------*/

.aj-why {
  &-img {
    & img {
      border-radius: 20px;
      @media #{$md,$xs} {
        width: 100%;
      }
    }
  }
  &-content {
    & ul {
      & li {
        color: var(--aj-heading-color);
        font-size: 18px;
        font-family: var(--aj-font-heading);
        font-weight: 500;
        padding: 16px 30px;
        background-color: #f7f1fc;
        border-radius: 20px;
        margin-bottom: 30px;
        @media #{$md,$xs} {
          margin-bottom: 10px;
        }
        @media #{$lg} {
          font-size: 13px;
        }
        @media #{$xs} {
          font-size: 15px;
        }
        & i {
          margin-right: 20px;
          @media #{$xs} {
            margin-right: 10px;
          }
        }
      }
    }
  }
}
