@use '../../utils/' as *;
/*----------------------------------------*/
/*   Why */
/*----------------------------------------*/

.aj-why {
  &-img {
    & img {
      border-radius: 20px;
    }
  }
  &-content {
    & ul {
      & li {
        color: var(--aj-heading-color);
        font-size: 18px;
        font-family: var(--aj-font-heading);
        font-weight: 500;
        padding: 16px 30px;
        background-color: #f7f1fc;
        border-radius: 20px;
        margin-bottom: 30px;
        & i {
          margin-right: 20px;
        }
      }
    }
  }
}
